
body{
  background-color: seagreen;
}
h1{
  display: none;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  h1{
    display: block;
    color: sienna;
    font-size: 40px;
    margin-left: 30%;
  }
}
 @media only screen and (){
   
 }

@media only screen and (max-width:500px){
  body {
    background-color: red;
    
  }
  h1{
    display: block;
    color: yellow;
  }
}

.pixel{
  background-color: red;
  width: 50%;
}